{% extends 'inc/base.html' %}
{% load static %}

{% block navbar %}
{% include 'inc/nav_authorization.html' %}
{% endblock navbar %}

{% block heading %}
<div class="row mt-5 mt-md-0">
	<h3 class="mr-4 text-dark">Tag:</h3>
	<h3 class="">bender</h3>
</div>
{% endblock heading %}

{% block content %}
<div class="row media d-flex flex-wrap question-box">
	<div class="d-flex px-1 mr-4 flex-column">
		<img src="{% static "img/ava2.jpg" %}" class="question-img mb-2" alt="...">
		<div class="btn-group" role="group" aria-label="">
			<button type="button" class="btn btn-outline-dark">&#9757;</button>
			<span class="btn btn-outline-dark">12</span>
		</div>
	</div>
	<div class="media-body px-1">
		<a href="/ask/" class="h5 mt-0"><u>Media with stretched link?</u></a>
		<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
		<div class="row">
			<div class="col-auto">
				<a href="#" class="stretched-link"><u>answer (3)</u></a>
			</div>
			<div class="col">
				<div class="d-flex flex-wrap">
					<p class="mr-1">Tags:</p>
					<a class="mr-1" href="/list_ask_tag/"><u>black-jack</u></a>
					<a class="mr-1" href="#"><u>bender</u></a>
					<a class="mr-1" href="#"><u>TechnoPark</u></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row media d-flex flex-wrap question-box">
	<div class="d-flex px-1 mr-4 flex-column">
		<img src="{% static "img/1.png" %}" class="question-img mb-2" alt="...">
		<div class="btn-group" role="group" aria-label="">
			<button type="button" class="btn btn-outline-dark">&#9757;</button>
			<span class="btn btn-outline-dark">12</span>
		</div>
	</div>
	<div class="media-body">
		<a href="/ask/" class="h5 mt-0"><u>Media with stretched link?</u></a>
		<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
		<div class="row">
			<div class="col-auto">
				<a href="#" class="stretched-link"><u>answer (3)</u></a>
			</div>
			<div class="col">
				<div class="d-flex flex-wrap">
					<p class="mr-1">Tags:</p>
					<a class="mr-1" href="/list_ask_tag/"><u>black-jack</u></a>
					<a class="mr-1" href="#"><u>bender</u></a>
					<a class="mr-1" href="#"><u>TechnoPark</u></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row media d-flex flex-wrap question-box">
	<div class="d-flex px-1 mr-4 flex-column">
		<img src="{% static "img/ava2.jpg" %}" class="question-img mb-2" alt="...">
		<div class="btn-group" role="group" aria-label="">
			<button type="button" class="btn btn-outline-dark">&#9757;</button>
			<span class="btn btn-outline-dark">12</span>
		</div>
	</div>
	<div class="media-body px-1">
		<a href="/ask/" class="h5 mt-0"><u>Media with stretched link?</u></a>
		<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
		<div class="row">
			<div class="col-auto">
				<a href="#" class="stretched-link"><u>answer (3)</u></a>
			</div>
			<div class="col">
				<div class="d-flex flex-wrap">
					<p class="mr-1">Tags:</p>
					<a class="mr-1" href="/list_ask_tag/"><u>black-jack</u></a>
					<a class="mr-1" href="#"><u>bender</u></a>
					<a class="mr-1" href="#"><u>TechnoPark</u></a>
				</div>
			</div>
		</div>
	</div>
</div>
{% include 'inc/pagination.html' %}
{% endblock content %}
