{% extends 'inc/base.html' %}

{% load static %}

{% block heading %}
<h3>Log in</h3>
{% endblock heading %}

{% block content %}
<form method="post">
    {% csrf_token %}

    {% for form_field in form %}
        <div class="form-group row mt-2">
            <label class="col-sm-2 col-form-label">{{ form_field.label }}</label>
            <div class="col-sm-10">
                {{ form_field }}
                <div class="invalid-feedback d-block">
                    {{ form_field.errors }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 d-flex flex-column">
            <div class="flex-row">
                <button type="submit" class="btn btn-dark">Log in!</button>
            </div>
            <div class="flex-row mt-3">
                <a href="{% url 'signup' %}?next={{ request.GET.next }}" class=""><u>create new account</u></a>
            </div>
        </div>
    </div>
</form>
{% endblock content %}