{% extends 'inc/base.html' %}
{% load static %}

{% block heading %}
<a class="col-3 h3 text-dark" href="{% url 'new_questions' %}">New Questions</a>
<a class="my-auto" href="{% url 'hot_questions' %}"><u>Hot Questions</u></a>
{% endblock heading %}

{% block content %}
	{% for question in content %}
		{% include 'inc/one_question.html' %}
	{% endfor %}

	{% include 'inc/pagination.html' %}
{% endblock content %}

{% block jscode %}
    <script src="{% static '/js/votes.js' %}"></script>
{% endblock jscode %}
