{% extends 'inc/base.html' %}
{% load static %}

{% block heading %}
<h3>Settings:&nbsp;&nbsp;</h3>
<h3>{{ request.user.username }}</h3>
{% endblock heading %}

{% block content %}
<form method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}

    {% if form_updated %}
        <div class="alert alert-success" role="alert">
          Changes saved successfully!
        </div>
    {% endif %}

    {% for form_field in form %}
        <div class="form-group row mt-2">
            <label class="col-sm-3 col-form-label">{{ form_field.label }}</label>
            <div class="col-sm-9">
                {{ form_field }}
                <div class="invalid-feedback d-block">
                    {{ form_field.errors }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for avatar in ava %}
    <div class="form-group row mt-2">
        <label class="col-sm-3 col-form-label">{{ avatar.label }}</label>
        <div class="col-sm-9">
            {{ avatar }}
            <div class="mt-2"><img src="{{ request.user.profile.avatar.url }}" class="img-settings img-thumbnail"></div>
            <div class="invalid-feedback d-block">
                {{ avatar.errors }}
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="form-group row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <button type="submit" class="btn btn-outline-dark">Save</button>
        </div>
    </div>
</form>
{% endblock content %}
