{% extends 'inc/base.html' %}
{% load static %}

{% block navbar %}
    {% include 'inc/navbar_user.html' %}
{% endblock navbar %}

{% block heading %}
<h3>Settings:&nbsp;&nbsp;</h3>
<h3>Dr. Pepper</h3>
{% endblock heading %}

{% block content %}
<form>
    <div class="form-group row mt-2">
        <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputLogin" placeholder="dr_pepper">
        </div>
    </div>
    <div class="form-group row mt-2">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail" placeholder="dr.pepper@mail.ru">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputNickName" class="col-sm-2 col-form-label">NickName</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputNickName" placeholder="Dr. Pepper">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputTags" class="col-sm-2 col-form-label">Upload avatar</label>
        <div class="col-sm-5">
            <img src="{% static "img/ava4.png" %}" alt="..." class="img-settings img-thumbnail">
            <div class="custom-file mt-2">
                <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                <label class="custom-file-label" for="validatedCustomFile" data-browse="choose">c:\avatar.jpg</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-outline-dark">Save</button>
        </div>
    </div>
</form>
{% endblock content %}
