{% extends 'inc/base.html' %}
{% load static %}

{% block heading %}
<h3>Registration</h3>
{% endblock heading %}

{% block content %}
<form method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}

    {% for form_field in form %}
            <div class="form-group row mt-2">
                <label class="col-sm-3 col-form-label">{{ form_field.label }}</label>
                <div class="col-sm-9">
                    {{ form_field }}
                    <div class="invalid-feedback d-block">
                        {{ form_field.errors }}
                    </div>
                </div>
            </div>
    {% endfor %}

    {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}
    <div class="form-group row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <button type="submit" class="btn btn-outline-dark">Register!</button>
        </div>
    </div>
</form>
{% endblock content %}
