{% extends 'inc/base.html' %}
{% load static %}

{% block heading %}
<h3>Registration</h3>
{% endblock heading %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %}
    <div class="form-group row mt-2">
        <label for="id_username" class="col-sm-3 col-form-label">Login</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="id_username" name="username" placeholder="dr_pepper" required>
        </div>
    </div>
    <div class="form-group row mt-2">
        <label for="id_email" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
            <input type="email" class="form-control" id="id_email" name="email" placeholder="dr.pepper@mail.ru" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="id_NickName" class="col-sm-3 col-form-label">NickName</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="id_NickName" name="q" placeholder="Dr. Pepper">
        </div>
    </div>
    <div class="form-group row">
        <label for="id_password" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="id_password" name="password" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="id_password_check" class="col-sm-3 col-form-label">Repeat password</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="id_password_check" name="password_check" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="id_avatar" class="col-sm-3 col-form-label">Upload avatar</label>
        <div class="col-sm-5">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="id_avatar" name="avatar">
                <label class="custom-file-label" for="id_avatar" data-browse="choose">c:\avatar.jpg</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <button type="submit" class="btn btn-outline-dark">Register!</button>
        </div>
    </div>
</form>
{% endblock content %}
