main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.question-box {
    margin-top: 25px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 14px;
}

.question-img {
    padding: .25rem;
    background-color: #fff;
    max-width: 115px;
    height: auto;
    border-radius: .5rem!important;
}

.question-text {
  padding-left: 8px;
  border-left: groove;
}

.avatar-img {
  width: 50px;
  height: 50px;
}

.img-settings {
    width: 150px;
    height: 150px;
}

.right-rounded {
    border-top-right-radius: 3rem!important;
    border-bottom-right-radius: 3rem!important;
}
