{% load static %}
<div class="row media d-flex flex-wrap question-box">
	<div class="d-flex px-1 mr-4 flex-column">
		<img src="{% static answer.profile_id.avatar %}" class="question-img mb-2" alt="...">
		{% include 'inc/like.html' with like=answer.like pk=answer.pk %}
    </div>
    <div class="media-body px-1">
        <p>{{ answer.text }}</p>
        <div class="form-check is-valid">
            <input class="form-check-input" type="checkbox" id="id_is_correct" {% if answer.is_correct %} checked {% endif %} {% if question.profile_id != request.user.profile %} disabled {% endif %}>
            <label class="form-check-label" for="id_is_correct" {% if answer.is_correct %} style="color: #28a745;" {% endif %}>
				Correct!
            </label>
        </div>
    </div>
</div>
