{% load static %}
<header>
    <nav class="navbar navbar-dark d-flex justify-content-between justify-content-md-around fixed-top bg-dark" style="height: 81.6px">
        <a class="navbar-brand" href="{% url 'new_questions' %}">AskMe</a>
        <form class="d-flex mt-md-0">
            <div class="flex-fill mr-2 my-2 my-md-0">
                <input class="form-control" type="text" placeholder="&#128269;Search" aria-label="Search">
            </div>
            <a class="flex-fill btn btn-outline-success my-2 my-md-0" type="submit" href="{% url 'create_ask' %}">ASK!</a>
        </form>
        {% if request.user.is_authenticated %}
        <div class="mr-md-0 d-flex mt-md-2" style="margin-right: 200px">
            <div class="row mx-2">
                <img src="{% static request.user.profile.avatar %}" class="avatar-img rounded">
            </div>
            <div class="d-flex flex-column bd-highlight mb-2">
                <div>
                    <a href="#" class="h5 text-light bg-dark">{{ request.user.username }}</a>
                </div>
                <div class="d-flex justify-content-start">
                    <a href="{% url 'settings' %}"><u>settings</u></a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{% url 'logout' %}"><u>log out</u></a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="mr-md-0 d-flex mt-md-2" style="margin-right: 400px; width: 182.54px">
            <div class="d-flex justify-content-start mx-auto">
                <a href="{% url 'login' %}"><u>log in</u></a>
                &nbsp;&nbsp;&nbsp;
                <a href="{% url 'signup' %}"><u>register</u></a>
            </div>
        </div>
        {% endif %}
    </nav>
</header>
