{% extends 'inc/navbar.html' %}
{% load static %}
{% block user %}
<div class="mr-md-0 d-flex mt-md-2" style="margin-right: 200px">
	<div class="row mx-2">
		<img src="{% static "img/ava4.png" %}" class="avatar-img rounded">
	</div>
	<div class="d-flex flex-column bd-highlight mb-2">
		<div>
			<a href="#" class="h5 text-light bg-dark">lil_ollegik</a>
		</div>
		<div class="d-flex justify-content-start">
			<a href="{% url 'settings' %}"><u>settings</u></a>
			&nbsp;&nbsp;&nbsp;
			<a href="{% url 'login' %}"><u>log out</u></a>
		</div>
	</div>
</div>
{% endblock user %}
