{% load static %}
<header>
    <nav class="navbar navbar-dark d-flex justify-content-between justify-content-md-around fixed-top bg-dark" style="height: 81.6px">
        <a class="navbar-brand" href="{% url 'new_questions' %}">AskMe</a>
        <form class="d-flex mt-md-0">
            <div class="flex-fill mr-2 my-2 my-md-0">
                <input class="form-control" type="text" placeholder="&#128269;Search" aria-label="Search">
            </div>
            <a class="flex-fill btn btn-outline-success my-2 my-md-0" type="submit" href="{% url 'create_ask' %}">ASK!</a>
        </form>
        {% block user %}
        <div class="mr-md-0 d-flex mt-md-2" style="margin-right: 400px; width: 182.54px">
            <div class="d-flex justify-content-start mx-auto">
                <a href="{% url 'login' %}"><u>log in</u></a>
                &nbsp;&nbsp;&nbsp;
                <a href="{% url 'signup' %}"><u>register</u></a>
            </div>
        </div>
        {% endblock user %}
    </nav>
</header>
