<nav aria-label="..." class="mt-4">
	<ul class="pagination pagination-md">
		<li class="mx-2 shadow disabled">
			<a class="page-link border border-dark" href="#" tabindex="-1">1</a>
		</li>
		<li class="mx-2 shadow">
			<a class="page-link border border-dark" href="#">2</a>
		</li>
		<li class="mx-2 shadow">
			<a class="page-link border border-dark" href="#">3</a>
		</li>
		<li class="mx-2 shadow">
			<a class="page-link border border-dark" href="#">...</a>
		</li>
		<li class="mx-2 shadow">
			<a class="page-link border border-dark" href="#">53</a>
		</li>
	</ul>
</nav>
