<div class="d-flex flex-column ml-4">
    <div class="p-2 mb-2">
        <h3 class="text-dark">Popular Tags</h3>
        <div class="d-flex flex-wrap h5">
            {% for tag in popular_tags %}
                <a class="my-1 mr-2 text-success" href="{% url 'questions_by_tag' tag %}">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
<!--    <div class="p-2">-->
<!--        <div class="list-group list-group-flush">-->
<!--            <h3 class="text-dark">Best Members</h3>-->
<!--            <a href="#" class="my-1"><u>Mr. Freeman</u></a>-->
<!--            <a href="#" class="my-1"><u>Dr. House</u></a>-->
<!--            <a href="#" class="my-1"><u>Bender</u></a>-->
<!--            <a href="#" class="my-1"><u>Queen Victoria</u></a>-->
<!--        </div>-->
<!--    </div>-->
</div>
